<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endless Prayer</title>
    <meta name="description" content="Show the significance of prayer on Austin for 24/7." />

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <%= stylesheet_link_tag "application", :media => "all" %>

    <script type="text/javascript" src="//use.typekit.net/ahb8fbd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="modal modal--register" style="display: none;">
      <div class="modal__form">
        <h2>Register to Pray</h2>
        <%= form_for User.new, :url => user_registration_path do |user_form| %>
          <%= user_form.text_field :name, :placeholder => "Name" %>
          <%= user_form.email_field :email, :placeholder => "Email" %>
          <%= user_form.password_field :password, :placeholder => "Password" %>

          <hr />

          <h4>Do you have a church in mind?</h4>

          <% if @churches.empty? %>
          <%= radio_button_tag(:church_type, "new", :checked => "checked") %>
          <%= label_tag(:church_type_new, "New Church") %>

          <hr />

          <div class="new-church">
          <%= text_field_tag :church_name, nil, :placeholder => "Church Name" %>
          <%= text_field_tag :church_address, nil, :placeholder => "Church Address" %>
          <div class="custom-select">
          <%= select_tag(:church_date, options_for_select((1..31).to_a)) %>
          </div>
          </div>
          <% else %>
          <div>
          <%= radio_button_tag(:church_type, "existing", :checked => "checked") %>
          <%= label_tag(:church_type_existing, "Existing Church") %>
          </div>
          <div>
          <%= radio_button_tag(:church_type, "new") %>
          <%= label_tag(:church_type_new, "New Church") %>
          </div>

          <hr />

          <div class="existing-church">
            <div class="custom-select">
              <%= select_tag(:church_id, options_from_collection_for_select(@churches, :id, :name)) %>
            </div>
          </div>

          <div class="new-church" style="display: none;">
          <%= text_field_tag :church_name, nil, :placeholder => "Church Name" %>
          <%= text_field_tag :church_address, nil, :placeholder => "Church Address" %>
          <div class="custom-select">
            <%= select_tag(:church_date, options_for_select((1..31).to_a)) %>
          </div>
          </div>
          <% end %>

          <hr />

          <div class="custom-select">
          <%= select_tag(:hour,  options_for_select([['12a', 0], ['1a', 1], ['2a', 2], ['3a', 3], ['4a', 4], ['5a', 5], ['6a', 6], ['7a', 7], ['8a', 8], ['9a', 9], ['10a', 10], ['11a', 11], ['12p', 12], ['1p', 13], ['2p', 14], ['3p', 15], ['4p', 16], ['5p', 17], ['6p', 18], ['7p', 19], ['8p', 20], ['9p', 21], ['10p', 22], ['11p', 23]])) %>
          </div>

          <%= button_tag "Register", :name => "Commit", :type => "submit" %>
        <% end %>
      </div>
    </div>
    <div class="modal modal--login" style="display: none;">
      <div class="modal__form">
        <h2>Login</h2>
        <%= form_for("user", :url => user_session_path) do |f| %>
          <%= f.text_field :email, :placeholder => "Email" %>
          <%= f.password_field :password, :placeholder => "Password" %>
          <hr />
          <%= button_tag "Login", :name => "Commit", :type => "submit" %>
        <% end %>
      </div>
    </div>
    <header class="map__header group">
      <div class="container">
        <div class="logo">
          <img src="/assets/logo-small.png" />
        </div>
        <ul class="membership list--layout group">
          <% if user_signed_in? %>
          <li>
            <%= current_user.name %>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
          </li>
          <% else %>
          <li>
            <a class="login-url" href="/users/sign_in">Login</a>
          </li>
          <li>
            <a class="register-url" href="/users/sign_out">Register</a>
          </li>
          <% end %>
        </ul>
      </div>
    </header>
    <section class="map"></section>
    <section class="tagline">
      <div class="container">
        <h2>
          In an effort for endless prayer, <%= pluralize(@users_praying, 'person', 'people') %> in Austin will combine to pray around the clock in the month of <%= DateTime.now.strftime("%B") %>.
        </h2>
      </div>
    </section>
    <section class="content">
      <div class="container group">
        <div class="content__piece content__piece--calendar">
          <section class="calendar">
            <% @calendar.each_with_index do |week, wIndex| %>
            <ul class="week list--layout group">
              <% week.each_with_index do |day, dIndex| %>
              <li class="day<% if day[:featureMonth] %> feature-month<% end %>" data-day="<%= day[:day] %>" data-slot="<%= day[:slots] %>">
                <div class="calendar__day">
                  <div class="bg"></div>
                  <% if (wIndex == 0 and dIndex == 0) or day[:day] == "1" %>
                  <div class="month"><%= day[:month] %></div>
                  <% end %>
                  <div class="number"><%= day[:day] %></div>
                </div>
              </li>
              <% end %>
            </ul>
            <% end %>
          </section>
          <section>
            <h3 class="join-movement">Join the movement!<br />Sign up for a prayer slot.</h3>
          </section>
          <% if user_signed_in? %>
          <section class="add-slot">
            <%= form_for @slot, :url => url_for(:controller => 'slots', :action => 'create') do |slot_form| %>
              <div class="custom-select">
                <%= slot_form.collection_select(:church_id, Church.all, :id, :name) %>
              </div>
              <div class="custom-select">
                <%= slot_form.select(:hour, options_for_select([['12a', 0], ['1a', 1], ['2a', 2], ['3a', 3], ['4a', 4], ['5a', 5], ['6a', 6], ['7a', 7], ['8a', 8], ['9a', 9], ['10a', 10], ['11a', 11], ['12p', 12], ['1p', 13], ['2p', 14], ['3p', 15], ['4p', 16], ['5p', 17], ['6p', 18], ['7p', 19], ['8p', 20], ['9p', 21], ['10p', 22], ['11p', 23]])) %>
              </div>
              <%= button_tag "Submit", :name => "Commit", :type => "submit" %>
            <% end %>
          </section>
          <% end %>
        </div>
        <div class="content__piece content__piece--posts">

          <section class="posts">

            <%= form_for(Post.new) do |f| %>
              <div class="field">
                <%= f.text_area :content, placeholder: "How does/can prayer effect your life?" %>
                <% if user_signed_in? %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <% end %>
              </div>
              <div class="actions">
                <%= f.submit 'Post' %>
              </div>
            <% end %>

            <div class="post__stream"></div>

          </section>
        </div>
      </div>
    </section>

    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

    <div id="templates">
       <script class="post", type="text/template", style="display:none">
        <div class="post__container group">
          <p class="post__content">{{content}}</p>
          <p class="post__name">- {{user.name}}</p>
        </div>
       </script>
     </div>

    <%= javascript_include_tag "application" %>

    <script type="text/javascript">

        var posts = new PostCollection();

        var postsView = new PostStreamView({
          collection: posts,
          el: '.post__stream'
        });

        var postsData = <%= raw @posts.to_json(:include => :user) %>

        posts.add(postsData);
    </script>


  </body>
</html>
