<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prayer 24/7</title>
    <meta name="description" content="Show the significance of prayer on Austin for 24/7." />

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <%= stylesheet_link_tag "application", :media => "all" %>

    <script type="text/javascript" src="//use.typekit.net/ahb8fbd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="modal modal--register" style="display: none;">
      <%= form_for User.new, :url => user_registration_path do |user_form| %>
        <%= user_form.text_field :name, :placeholder => "Name" %>
        <%= user_form.email_field :email, :placeholder => "Email" %>
        <%= user_form.password_field :password, :placeholder => "Password" %>

        <div>
          <%= radio_button_tag(:church_type, "existing", :checked => "checked") %>
          <%= label_tag(:church_type_existing, "Existing") %>
          <%= radio_button_tag(:church_type, "new") %>
          <%= label_tag(:church_type_new, "New") %>
        </div>

        <div class="existing-church">
        <%= select_tag(:church_id, options_from_collection_for_select(Church.all, :id, :name)) %>
        </div>

        <div class="new-church" style="display: none;">
        <%= text_field_tag :church_name, nil, :placeholder => "Church Name" %>
        <%= text_field_tag :church_address, nil, :placeholder => "Church Address" %>
        <%= select_tag(:church_date, options_for_select((1..31).to_a)) %>
        </div>

        <div>
          <%= select_tag(:hour, options_for_select((0..23).to_a)) %>
        </div>

        <%= button_tag "Submit", :name => "Commit", :type => "submit" %>
      <% end %>
    </div>
    <div class="modal modal--login" style="display: none;">
      <%= form_for("user", :url => user_session_path) do |f| %>
        <%= f.text_field :email %>
        <%= f.password_field :password %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <%= f.submit 'Sign in' %>
        <%= link_to "Forgot your password?", new_password_path('user') %>
      <% end %>
    </div>
    <header class="map__header group">
      <div class="container">
        <div class="logo">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
        </div>
        <ul class="membership list--layout group">
          <% if user_signed_in? %>
          <li>
            Hello, <%= current_user.name %>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
          </li>
          <% else %>
          <li>
            <a class="login-url" href="/users/sign_in">Login</a>
          </li>
          <li>
            <a class="register-url" href="/users/sign_out">Register</a>
          </li>
          <% end %>
        </ul>
      </div>
    </header>
    <section class="map"></section>
    <section class="tagline">
      <div class="container">
        <h2>
          In the month of October, <%= pluralize(@users_praying, 'person', 'people') %> in the city of Austin<br />will collectively be praying around the clock.
        </h2>
      </div>
    </section>
    <section class="content">
      <div class="container group">
        <div class="content__piece content__piece--calendar">
          <section class="calendar">
            <% @calendar.each do |week| %>
            <ul class="week list--layout group">
              <% week.each do |day| %>
              <li class="day">
                <div class="calendar__day" data-day="<%= day[:day] %>" data-slot="<%= day[:slots] %>">
                  <div class="bg"></div>
                </div>
              </li>
              <% end %>
            </ul>
            <% end %>
          </section>
          <% if user_signed_in? %>
          <section class="add-slot">
            <%= form_for @slot, :url => url_for(:controller => 'slots', :action => 'create') do |slot_form| %>
              <%= slot_form.collection_select(:church_id, Church.all, :id, :name) %>
              <%= slot_form.select(:hour, options_for_select((0..23).to_a)) %>
              <%= button_tag "Submit", :name => "Commit", :type => "submit" %>
            <% end %>
          </section>
          <% end %>
        </div>
        <div class="content__piece content__piece--posts">

          <section class="posts">

            <% if user_signed_in? %>
            <%= form_for(Post.new) do |f| %>
              <div class="field">
                <%= f.label :content %>
                <%= f.text_field :content %>
                <%= f.hidden_field :user_id, value: current_user.id %>
              </div>
              <div class="actions">
                <%= f.submit 'Save' %>
              </div>
            <% end %>
            <% end %>

            <div class="post__stream"></div>

          </section>
        </div>
      </div>
    </section>

    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>

    <div id="templates">
       <script class="post", type="text/template", style="display:none">
        <div class="post">
          <div class="post__container">
            <p>{{content}}</p>
            <p>{{user_id}}</p>
          </div>
        </div>
       </script>
     </div>

    <%= javascript_include_tag "application" %>

    <script type="text/javascript">

        var posts = new PostCollection();

        var postsView = new PostStreamView({
          collection: posts,
          el: '.post__stream'
        });


        var postsData = <%= raw @posts.to_json %>


        // [
        //   {
        //     content: "This is some post content",
        //     name: "John Reagan"
        //   }
        // ]


        posts.add(postsData);
    </script>


  </body>
</html>
