<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prayer 24/7</title>
    <meta name="description" content="Show the significance of prayer on Austin for 24/7." />
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section class="map">
      <header class="map__header group">
        <div class="container">
          <div class="logo">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" />
          </div>
          <ul class="membership list--layout group">
            <li>
              <a href="/">Login</a>
            </li>
            <li>
              <a href="/">Register</a>
            </li>
          </ul>
        </div>
      </header>
    </section>
    <section class="content">
      <div class="container group">
        <div class="content__piece content__piece--calendar">
          <section class="calendar">
            <% @calendar.each do |week| %>
            <ul class="week list--layout group">
              <% week.each do |day| %>
              <li class="day">
                <div class="calendar__day" data-day="<%= day[:day] %>" data-slot="<%= day[:slots] %>">
                  <header class="header"></header>
                  <div class="bg"></div>
                </div>
              </li>
              <% end %>
            </ul>
            <% end %>
          </section>
        </div>
        <div class="content__piece content__piece--posts">

          <section class="posts">

            <%= form_for(Post.new) do |f| %>
              <div class="field">
                <%= f.label :content %>
                <%= f.text_field :content %>
                <%= f.hidden_field :user_id, value: current_user.id %>
              </div>
              <div class="actions">
                <%= f.submit 'Save' %>
              </div>
            <% end %>

          <div class="post__stream"></div>

          </section>
        </div>
      </div>
    </section>

    <div id="templates">
       <script class="post", type="text/template", style="display:none">
        <div class="post">
          <div class="post__container">
            <p>{{content}}</p>
            <p>{{user_id}}</p>
          </div>
        </div>
       </script>
     </div>

    <%= javascript_include_tag "application" %>

    <script type="text/javascript">

        var posts = new PostCollection();

        var postsView = new PostStreamView({
          collection: posts,
          el: '.post__stream'
        });


        var postsData = <%= raw @posts.to_json %>


        // [
        //   {
        //     content: "This is some post content",
        //     name: "John Reagan"
        //   }
        // ]


        posts.add(postsData);
    </script>


  </body>
</html>
